{% extends "dashboard.html" %}


{% block title %}Doctor Appointment Form{% endblock title %}

{% block dash_main %}
<div class="container">
        <h2>Appointment Schedule</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.patient}}</td>
                        <td>{{ appointment.doctor}}</td>
                        <td>{{ appointment.appointment_date }}</td>
                        <td>{{ appointment.appointment_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock dash_main %}
    