{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}
    

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
    
{% endblock main %}
<script>
    
    {% if error_message == "Login Successful" %}
        alert('Login Successful');
    {% endif %}
    {% if error_message == "Invalid Username or Password" %}
        alert('Invalid Username or Password');
    {% endif %}
        
</script>