<title>{% block title %}Hospital | Login{% endblock title %}</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 m-auto my-5">
                <main class="form-signin  m-auto my-5">
                    <form method="post">
                        {% csrf_token %}
                        {% comment %} <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> {% endcomment %}
                        <h1 class="h3 mb-3 text-center fw-normal">Please sign in</h1>
            
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name='username'>
                            <label for="floatingInput">User Id</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password'>
                            <label for="floatingPassword">Password</label>
                        </div>
            
                        <div class="checkbox mb-3">
                            <label><input type="checkbox" value="remember-me"> Remember me</label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017–2022</p>
                    </form>
                </main>
            </div>
        </div>
    </div>
    
{% endblock main %}
<script>
    
    {% if error_message == "Login Successful" %}
        alert('Login Successful');
    {% endif %}
    {% if error_message == "Invalid Username or Password" %}
        alert('Invalid Username or Password');
    {% endif %}
        
</script>